
.body {background-color: #1F487E;}

.navbar {background-color: #376996;}

.btnhhhhh {background-color: #1F487E;}


.logo {max-width: 400px; max-height: 600px;}

.card-img-top {max-width: 300px; max-height: 450px;}

.aa {text-decoration: none;
    color: black;
    font: bold;}
